# Object files
*.o
# Dependency Files
*.d
# Compiled libraries
#*.a
*.suo
*.sdf
*.opensdf

# Libraries
*.lib
*.map

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.img
Debug/
bin/

# Debug output
disassembly.txt
symbols.txt

# Gedit temporary files
*.c~
*.h~
*.py~
makefile~
*.gitignore~
*.sublime-workspace
